%li.nested-fields.prow
  = f.hidden_field :id
  = f.hidden_field :position
  .form-inline
    = f.text_field :quantity, placeholder: 'Qty', class: 'span1'
    = f.text_field :sku, placeholder: 'SKU', class: 'span2'
    = f.text_field :description, placeholder: 'Description', class: 'span4'
    .input-prepend
      %span.add-on $
      = f.text_field :price, placeholder: 'Price', class: 'span1'

  = link_to_remove_association %{<i class="icon-remove-circle"></i>}.html_safe,
    f, class: 'remove'
