%h1 Proposals

%p= link_to "New Proposal", proposals_path, class: 'btn', method: 'post'

%table.table
  %thead
    %tr
      %th Number
      %th Customer
      %th Description
      %th Status
  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= link_to proposal.number, edit_proposal_path(proposal)
        %td= proposal.customer_name
        %td= proposal.description
        %td= proposal.status
