!!!
%html
  %head
    %title Pitch
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag  "application"

    = csrf_meta_tag

  %body
    .container
      = render "layouts/nav" if current_user
      = render "layouts/flash", flash: flash
      = yield
